[submodule "thirdparty/stuff"]
	path = thirdparty/stuff
	url = git@github.com:xor-shift/stuff.git
[submodule "thirdparty/sdl"]
	path = thirdparty/sdl
	url = git@github.com:libsdl-org/SDL.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
